In [1]:
import pandas as pd
import re
import os
from pathlib import Path

In [2]:
datasets_path = Path("datasets")

train = pd.read_csv(datasets_path/"Train.csv")
test = pd.read_csv(datasets_path/"Test.csv")

In [3]:
train.head(3)

     id                                            content  category
0   SW0   SERIKALI imesema haitakuwa tayari kuona amani...   Kitaifa
1   SW1   Mkuu wa Mkoa wa Tabora, Aggrey Mwanri amesiti...  Biashara
2  SW10   SERIKALI imetoa miezi sita kwa taasisi zote z...   Kitaifa

In [4]:
def clean_row(x):
    x = ''.join(x.split('\'')).strip('[]')
    return re.sub(r"[^\x00-\x7F]", ' ', x)

train['content_cleaned'] = train['content'].apply(clean_row)
test['content_cleaned'] = test['content'].apply(clean_row)

In [5]:
train.head(3)

,id,content,category,content_cleaned
0,SW0,SERIKALI imesema haitakuwa tayari kuona amani...,Kitaifa,SERIKALI imesema haitakuwa tayari kuona amani...
1,SW1,"Mkuu wa Mkoa wa Tabora, Aggrey Mwanri amesiti...",Biashara,"Mkuu wa Mkoa wa Tabora, Aggrey Mwanri amesiti..."
2,SW10,SERIKALI imetoa miezi sita kwa taasisi zote z...,Kitaifa,SERIKALI imetoa miezi sita kwa taasisi zote z...

In [6]:
train_path = Path('train')
if not train_path.exists():
    os.mkdir('train')
    
test_path = Path('test')
if not test_path.exists():
    os.mkdir('test')

In [7]:
train.to_csv(train_path/'Train.csv',index=False)
test.to_csv(test_path/'Test.csv',index=False)

In [8]:
list(train.category.unique())

['Kitaifa', 'Biashara', 'michezo', 'Kimataifa', 'Burudani']

In [9]:
next_paths = list(train.category.unique())
for bp in next_paths:
    new_path = train_path/bp
    if not Path(new_path).exists():
        os.mkdir(new_path)

In [10]:
for i in train.index:
    filename = train_path/f'{train.loc[i,"id"]}.txt'
    with open(filename,'w') as f:
        f.write(train.loc[i,'content_cleaned'])

In [11]:
for i in test.index:
    filename = test_path/f'{test.loc[i,"swahili_id"]}.txt'
    with open(filename,'w') as f:
        f.write(test.loc[i,'content_cleaned'])